*{	
	outline: solid red 1px;
}
img{
	float: right;
}
footer{
	clear:right;
	
}
nav{
	float: left;
	width: 255px;
	padding-top: 3.5px; 
	padding-bottom: 3.5px;
	background-color: #DEB887;
}
nav li{
	padding-bottom: 9px;
}
main{
	margin-left:256px;
	
}
h1{
	text-align: center;	
	
}
p{
	width: 900px;
	font-family: 'Shadows Into Light', cursive;
}
ul{
	width:200px;
}
br{
	clear:right;
}
article li{
	font-family: 'Indie Flower', cursive;
}
html{
	background-color: #FFFFCC;
}
p{
	background-color: #FF7F50;
}
footer{
	text-align: center;	
}
h2{
	color: #BDB76B	;
}
