*{	
	outline: solid red 1px;
}
img{
	float: right;
}
footer{
	clear:right;
	
}
article{
//	margin-left:170px;
//	float: right;
}
nav{
	float: left;
	width: 255px;
	padding-top: 3.5px; 
	padding-bottom: 3.5px;
}
nav li{
	padding-bottom: 9px;
}
main{
	margin-left:256px;
	
}
h1{
	text-align: center;	
	
}
p{
	width: 900px;
	font-family: 'Shadows Into Light', cursive;
}
ul{
	width:200px;
}
br{
	clear:right;
}
article li{
	font-family: 'Indie Flower', cursive;
}

